.shadow {
  width: 200px;
  aspect-ratio: 1;
  border: 1px solid sandybrown;
  box-shadow: 5px 5px 5px rgb(8, 238, 88), inset 10px 10px 10px 10px rgb(233, 50, 50);
}

.text-shadow {
  font-size: 4rem;
  font-family: "Pretendard-Regular";
  font-weight: 100;
  text-shadow: 4px 3px 0 red;
  transition: 0.4s;

  &:hover {
    text-shadow: 2px 2px 0 red, 4px 4px 0 orange, 6px 6px yellow;
  }
}
